{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		]
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread"
	],
	"env": {
		"server": {
			"plugins": [
				"transform-es2015-modules-commonjs"
			]
		}
	}
}